@charset "utf-8";

body {
    width: 100vw;
    overflow-x: hidden;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
}

header > nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

header > nav > a > img {
    width: 40px;
    padding: 1px 1px;
    margin: 1px 4px;
}

menu {
    display: flex;
}

menu > ul {
    display: flex;
}

menu > ul > li {
    display: flex;
}

menu > ul > li > a {
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    width: auto;
}

menu > ul > li > a:hover {
    color: blue;
}


i#icone {
    display: none;
}
