@charset "utf-8";

@media screen and (min-width: 320px) and (max-width: 550px ) {

    * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        }

        
    header{
        width: 100vw;
        background-color:#F2D786  ;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        margin: auto;
        }

        header > nav {
            display: block;
            width: auto;
            margin: 10px 10px 10px 20px;
            justify-content: space-around;
            text-align: left;
            }
            
            header > nav > a > img {
            width: 45px;
            background-color: rgba(0, 0, 0, 0.448);
            border: 0px solid black;
            border-radius: 50%;
            
            }
            
            header > nav > a > img:hover {
            transition: 1s;
            background-color: white;
            }
            
            header > nav.menu-lateral {
            width: auto;
            padding: 10px 20px;
            background-color: black;
            border-radius: 10px;
            display: block;
            flex-direction: column;    
            align-items: center;
            font-size: 14px;
            }
            
            header > nav.menu-lateral > a {
            color: white;
            font-size: 14px;
            font-weight: 700;
            text-decoration: none;
            padding: 2px 10px;
            }
            
            header > nav.menu-lateral > a:hover{
            color: blue;
            }

            /*Fim da parte superior, o header */
            /*Inicio da parte das imagens com borda redonda*/

            article {
                display: block;
                background-color: white;
                margin: auto;
              }
              
              div.conteudo-itens {
              display: block;
              margin: auto;
              padding: 20px;
             
              }

              div.conteudo-itens > img.conteudo-itens-rdk {
            display: block;
              margin: auto;
              margin-top: 20px;
              width: 170px;
              height: 170px;
             
              }
              
              div.conteudo-itens > img.conteudo-itens-redondo {
              display: block;
              margin: auto;
              margin-top: 20px;
              width: 170px;
              height: 170px;
              border: 2px solid black;
              border-radius: 50%;
             
              }
              
              div#conteudo-itens-texto {
              text-align: justify;
              width: 100vw;
              padding: 10px;
              margin-top: 10px;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 20px;
              color: #2478B8;
              }

              div.conteudo-itens-titulo {
              text-align: center;
              color: #2478B8;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 20px;
              margin-top: 20px;
              margin-bottom: 15px;
              }

              aside {
                width: 100%;
                display: block;
                align-items: center;
                justify-content: space-around;
                background-color: #036CAD;
                margin-bottom: 600px;

               
                }
                
                div.conteudo-itens-historia > p {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 24px;
                padding: 10px;
                text-align: justify;
                color: white;
                font-weight: 100;
                }

                div.conteudo-itens-vanzolini > img {
                    display: block;
                    margin: 0 auto;
                }

                main{
                    background-color: white;
                    padding: 10px;
                    }
                    
                    section{
                    background-color: white;
                    color: #E9B644;
                    text-align: center;
                    font-size: 30px;
                    }
                    
                    main > div.conteudo-maquinas {
                    display: block;
                    flex-direction: column;
                    padding: 10px;
                    margin: auto; 
                    align-items: center;
                    
                    }
                    
                    main > div.imagem-maquinas {
                    display: inline-block;
                    position: relative;
                    margin: auto;
                    width: auto;
                    }
                    
                    p.texto {
                    padding: 20px 0px;
                    font-size: 20px;
                    text-align: center;
                    }

                    footer {
                        background-color: #212020 ;
                        color: white;
                        margin: auto;
                        margin-top: -10px;
                        padding: 20px;
                        }
                        
                        footer h1 {
                        border-bottom: 2px double white;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 16px;
                        font-weight: lighter;
                        line-height: 16px;
                        margin-bottom: 16px;
                        margin-top: 10px;
                        }
                        
                        footer p {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 14px;
                        font-weight: lighter;
                        line-height: 20px;
                        }
                        
                        footer a {
                        color: white;
                        text-decoration: none;
                        }
                        
                        footer > div.lista {
                        display: block;
                        justify-content: space-evenly;
                        justify-items: center;
                        }
                    }